<dialog id="contact_modal" class="modal">
  <div class="modal-box max-w-[420px]">
    <h3 class="font-bold text-lg text-center m-2">Add New Contact</h3>
    <form
      hx-post="{%url 'create_contact' %}"
      hx-encoding="multipart/form-data"
      hx-target="#contact-table-body"
      hx-swap="afterbegin"
      hx-on:contact-success="contact_modal.close(); this.reset();"
      class="mb-4"
    >
      {%csrf_token%}
      <div class="form-control mb-2">
        <label class="label font-bold"
          ><span class="label-text p-1">Name</span></label
        >
        {{form.name}} {%if form.name.errors %}
        <label class="label text-error"
          ><span class="label-text">{{form.name.errors}}</span></label
        >
        {%endif%}
      </div>

      <div class="form-control">
        <label class="label font-bold"
          ><span class="label-text p-1">Email</span></label
        >
        {{form.email}} {%if form.email.errors %}
        <label class="label text-error"
          ><span class="label-text">{{form.email.errors}}</span></label
        >
        {%endif%}
      </div>
      <div class="form-control w-full">
        <label class="label font-bold"
          ><span class="label-text p-1">Document</span></label
        >
        {{form.document}} {%if form.document.errors %}
        <label class="text-error"
          ><span class="label-text" style="word-break: break-word"
            >{{form.document.errors}}</span
          ></label
        >
        {%endif%}
      </div>
      <div class="flex justify-end mt-4 gap-2">
        <button
          type="button"
          onclick="contact_modal.close()"
          class="btn btn-error"
        >
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Add Contact</button>
      </div>
    </form>
  </div>
</dialog>
