{% extends 'base.html'%} {%block title%}Contacts{%endblock%} {%block content%}
<div class="w-full">
  <h1 class="text-4xl font-bold text-success mt-3 text-center">
    Contacts Manager
  </h1>

  {%include 'contacts/partials/add-contact-modal.html' %}

  <div class="flex justify-between">
    <label class="input mt-3 w-1/3 mb-1 border-2 border-indigo-500/100">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input
        type="search"
        required
        placeholder="Search"
        name="search"
        hx-get="{%url 'contacts:search'%}"
        hx-trigger="keyup delay:1s"
        hx-target="#contacts-list"
        hx-indicator="#spinner"
        hx-on::before-request="document.getElementById('spinner').removeAttribute('hidden')"
        hx-on:htmx:after-request="document.getElementById('spinner').setAttribute('hidden', true)"
      />
    </label>
    <button
      class="btn btn-primary mt-3 mb-1"
      onclick="contact_modal.showModal()"
    >
      Add Contact
    </button>
  </div>
  <div id="spinner" class="htmx-indicator flex justify-center p-2" hidden>
    {% include 'contacts/partials/spinner.html' %}
  </div>
  <div id="contacts-list">
    {% include 'contacts/partials/contacts-list.html' %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("fail", () => {
      document.getElementById("contact_modal").showModal();
    });
  });
</script>
{%endblock%}
